.navbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: blue;
  padding: 10px 0;
}

.navbar img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.describe{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}
.describe1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 70%;
  margin: auto;
  font-size: 25px;
  text-align: justify;

}

.navbar a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: blue;
  margin: 0 10px;
  position: relative;
  transition: color 0.3s;
}

.navbar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: pink;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  color: #00f;
}

.navbar a:hover::before {
  transform: scaleX(1);
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;;
}

.multitext {
  color: purple;
  font-size: 50px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #3d535f;
}

.abt {
  color: #7f00ff;
  text-align: center;
}

.abct {
  color: #7f00ff;
  text-align: right;
}
#msg{
  color: #40ff;
  font-style: italic;
  align-items: center;
  text-align: center;
  margin-top: 1.5em;
}
.icon-link{
  height: 70px;
  width: 70px;
  /* background-color: #caf7e3; */
  /* border-radius: 35px; */
  text-align: center;
  margin: 7px;
  line-height: 80px;
}

a svg {
  transition: all 0.3s linear;
}

a:hover svg {
  transform: scale(1.5);
}
@media (max-width: 768px) {
  .imgbox img {
      max-width: 100%;
      height: auto;
      max-height: 300px;
  }
  .navbar a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: blue;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s;
  
}
.describe1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 90%;
  /* margin: auto; */
  font-size: 18px;
  text-align: justify;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;;
}
}
@media (max-width: 391px) {
  .imgbox img {
      max-width: 100%;
      height: auto;
      max-height: 300px;
  }
  .navbar a {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: blue;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s;
  
}
.describe1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 90%;
  /* margin: auto; */
  font-size: 18px;
  text-align: justify;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;;
}
}
@media (max-width: 362px) {
  .imgbox img {
      max-width: 100%;
      height: auto;
      max-height: 300px;
  }
  .navbar a {
    display: none;
    /* flex-direction: row; */
    text-decoration: none;
    font-size: 5px;
    font-weight: bold;
    color: blue;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s;
  
}
.describe1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 90%;
  /* margin: auto; */
  font-size: 18px;
  text-align: justify;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;;
}
}
